Source: node-linuxspells
Section: javascript
Priority: optional
Maintainer: Debian Javascript Maintainers <pkg-javascript-devel@lists.alioth.debian.org>
Uploaders: Manas kashyap <manaskashyaptech@gmail.com>
Build-Depends:
 debhelper (>= 9)
 , dh-buildinfo
 , nodejs
Standards-Version: 4.1.1
Homepage: https://github.com/gabru-md/LinuxSpells#readme
Vcs-Git: https://anonscm.debian.org/git/pkg-javascript/node-linuxspells.git
Vcs-Browser: https://anonscm.debian.org/cgit/pkg-javascript/node-linuxspells.git

Package: node-linuxspells
Architecture: all
Depends:
 ${misc:Depends}
 , nodejs
 , node-chalk (>= 2.0.1)
 , node-figlet (>= 1.2.0)
 , node-fs-extra (>= 4.0.0)
 , node-inquirer (>= 3.2.0)
 , node-terminal-utilities (>= 2.3.0)
Description: FIX_ME write the Debian package description
 Write the short and long descriptions for the Debian package as
 explained in the Developer's Reference, §6.2.1 – §6.2.3.
 .
 You can start with the short upstream package description,
 “Potter-ify your Linux Experience!”.
 .
 Be aware that most upstream package descriptions are not written to
 conform with Debian package guidelines. You need to explain the role
 of this package for a Debian audience.
 .
 Node.js is an event-based server-side JavaScript engine.
